h1{
    float: right;
    height: 350px;
    width: 300px;
    padding-right: 200px;
    margin-bottom: 250px;
    margin-left: -330px;
    margin-right: 130px;
    font-family: Arial, Helvetica, sans-serif;
   color: #2a1ce6;
    margin-right: 200px;
    background-color: rgb(0, 0, 0);
    font-size: 25px;
}
.btn{
    font-size: 20px;
    text-decoration: none;
}